# API Configuration
#API_HOST=0.0.0.0
#API_PORT=8000
#DEBUG=True
#PROJECT_NAME=StateMachineAPI

# Database - Variables separadas
#MONGO_USER=stateMachine_user
#MONGO_PASSWORD=stateMachine_password123
#MONGO_DB=stateMachine_db

# Environment
#ENVIRONMENT=development

# Optional: Database pool
#DB_POOL_SIZE=5
#DB_MAX_OVERFLOW=10
#CACHEBUST=1